<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article_List</title>
</head>

<style>
  .layout {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
  }

  td{
    border: 1px solid gray;
  }

  .btn-layout {
    width: 200px;
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
  }

  .btn-layout > a {
    text-decoration: none;
    color: black;

    border: 2px red solid;
    border-radius: 10%;
  }
</style>

<body>

<div class="layout">

  <div class="btn-layout">
    <a href="/article/write">글 작성</a>
    <span> | </span>
    <a href="/"> HOME </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Num</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="article : ${list}">
        <td th:text="${article.id}">
          PK
        </td>
        <td>
          <a th:text="${article.title}" th:href="@{/article/view(id=${article.id})}">Title</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</body>
</html>